body {
    background: linear-gradient(#E1C9E3, #88498F);
    font-family: 'Karla', sans-serif;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

.header-container {
    align-items: center; 
    text-align: center;   
}

.header {
    font-size: 65px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.subheader {
    font-size: 30px;
    margin-bottom: 2%;
}

.about-paragraph {
    font-size: 18px;
}

.photo img{
    height: 25vh;
    width: 18vw;
}

.team-container {
    display: row;
}

.team-card {
    background-color: white;
    height: 20vh;
    width: 20vw;
}

.photo {
    height: 100px;
    width: 100px;
}