body {
    background: linear-gradient(#E1C9E3, #88498F);
    font-family: 'Karla', sans-serif;
}

.header-container {
    align-items: center;    
    border: 5px solid black;
}

.header {
    font-size: 50px;
}

.team-container {
    display: inline;
}